<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://electionspatiala.com/images/logo.jpg" type="image/jpeg">
    <title>Returning Officer Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gradient-to-r from-blue-100 to-blue-200 flex flex-col min-h-screen">
    <nav class="bg-white shadow-md py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="https://electionspatiala.com/images/logo.jpg" alt="Logo"
                    class="w-12 h-12 rounded-full shadow-lg mr-4 ml-4" />
                <span class="text-2xl font-bold text-gray-800">Returning Officer Dashboard</span>
            </div>
            <form action="/admin/logout" method="POST">
                <button type="submit"
                    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300 transition duration-300 mr-4">
                    Logout
                </button>
            </form>
        </div>
    </nav>
    <div class="flex-grow flex items-center justify-center p-4">
        <div class="container mx-auto p-4 text-center">
            <div class="bg-white shadow-lg rounded-lg p-6">
                <h2 class="text-3xl font-bold text-gray-700 mb-4">Welcome, Returning Officer!</h2>
                <p class="text-gray-600 mb-6">Select a constituency to view details.</p>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <a href="/admin/ro/109">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                109 - Nabha
                            </button>
                        </div>
                    </a>

                    <a href="/admin/ro/110">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                110 - Patiala Rural
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/111">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                111 - Rajpura
                            </button>
                        </div>
                    </a>

                    <a href="/admin/ro/112">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                112 - Derabassi
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/113">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                113 - Ghanaur
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/114">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                114 - Sanour
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/115">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                115 - Patiala Urban
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/116">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                116 - Samana
                            </button>
                        </div>
                    </a>
                    <a href="/admin/ro/117">
                        <div
                            class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 transition duration-300">
                            <button>
                                117 - Shutrana
                            </button>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>