<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://electionspatiala.com/images/logo.jpg" type="image/jpeg">
    <title>Polling Staff Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="container mx-auto p-4 text-center">
        <img src="https://electionspatiala.com/images/logo.jpg" alt="Logo" class="mx-auto mb-4 w-32 h-auto" />
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Polling Staff Dashboard</h1>

        <div class="bg-white shadow-md rounded-lg p-6">
            <div class="flex justify-center mb-4">
                <button id="polling-station-btn"
                    class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 mr-4">
                    Polling Station Data
                </button>
                <button id="polling-staff-btn"
                    class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                    Election Duty Data Data
                </button>
            </div>

            <div id="polling-station-content" class="mb-6">
                <h2 class="text-xl font-semibold text-gray-700 mb-4">Polling Duties Information</h2>
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 text-left">
                        <p class="text-gray-600"><strong>Booth Number:</strong> <span>{{ .Booth.Bid }}</span></p>
                        <p class="text-gray-600"><strong>Booth Name:</strong> <span>{{ .Booth.BoothName }}</span></p>
                        <p class="text-gray-600"><strong>Booth Level Officer Name:</strong> <span>{{ .Booth.BloName
                                }}</span></p>
                        <p class="text-gray-600"><strong>Booth Level Officer Contact:</strong> <span>{{
                                .Booth.BloContact }}</span></p>
                        <p class="text-gray-600"><strong>Sector Officer Name:</strong> <span>{{ .Booth.SectorOfficerName
                                }}</span></p>
                        <p class="text-gray-600"><strong>Sector Officer Contact:</strong> <span>{{
                                .Booth.SectorOfficerContact }}</span></p>
                        <p class="text-gray-600"><strong>Assistant Sector Officer Name:</strong> <span>{{
                                .Booth.AssistantSectorOfficerName }}</span></p>
                        <p class="text-gray-600"><strong>Assistant Sector Officer Contact:</strong> <span>{{
                                .Booth.AssistantSectorOfficerContact }}</span></p>
                        <p class="text-gray-600"><strong>Location Incharge Name:</strong> <span>{{
                                .Booth.LocationInchargeName }}</span></p>
                        <p class="text-gray-600"><strong>Location Incharge Contact:</strong> <span>{{
                                .Booth.LocationInchargeContact }}</span></p>
                    </div>
                    <div class="w-full md:w-1/2 text-left">
                        <p class="text-gray-600"><strong>ARO Name:</strong> <span>{{ .Booth.AroName }}</span></p>
                        <p class="text-gray-600"><strong>ARO Contact:</strong> <span>{{ .Booth.AroContact }}</span></p>
                        <p class="text-gray-600"><strong>DSP Name:</strong> <span>{{ .Booth.DspName }}</span></p>
                        <p class="text-gray-600"><strong>DSP Contact:</strong> <span>{{ .Booth.DspContact }}</span></p>
                        <p class="text-gray-600"><strong>SHO Name:</strong> <span>{{ .Booth.ShoName }}</span></p>
                        <p class="text-gray-600"><strong>SHO Contact:</strong> <span>{{ .Booth.ShoContact }}</span></p>
                        <p class="text-gray-600"><strong>Chowki Incharge Name:</strong> <span>{{
                                .Booth.ChowkiInchargeName }}</span></p>
                        <p class="text-gray-600"><strong>Chowki Incharge Contact:</strong> <span>{{
                                .Booth.ChowkiInchargeContact }}</span></p>
                        <p class="text-gray-600"><strong>Medical Officer Name:</strong> <span>{{
                                .Booth.MedicalOfficerName }}</span></p>
                        <p class="text-gray-600"><strong>Medical Officer Contact:</strong> <span>{{
                                .Booth.MedicalOfficerContact }}</span></p>
                        <p class="text-gray-600"><strong>SMO Name:</strong> <span>{{ .Booth.SmoName }}</span></p>
                        <p class="text-gray-600"><strong>SMO Contact:</strong> <span>{{ .Booth.SmoContact }}</span></p>
                    </div>
                </div>
            </div>

            <div id="polling-staff-content" class="mb-6" style="display: none;">
                <h2 class="text-xl font-semibold text-gray-700 mb-4">
                    Election Duty Data
                </h2>
                <p class="text-gray-600"><strong>DispatchCenter:</strong>
                    <span>{{ .DisplayData.DispatchCenter}}</span>
                </p>
                <p class="text-gray-600"><strong>CounterNoBase:</strong>
                    <span>{{ .DisplayData.CounterNoBase}}</span>
                </p>
                <p class="text-gray-600"><strong>BusNo:</strong>
                    <span>{{ .DisplayData.BusNo}}</span>
                </p>
                <p class="text-gray-600"><strong>DriverNo:</strong>
                    <span>{{ .DisplayData.DriverNo}}</span>
                </p>
                <p class="text-gray-600"><strong>DriverName:</strong>
                    <span>{{ .DisplayData.DriverName}}</span>
                </p>
                <p class="text-gray-600"><strong>School Incharge:</strong>
                    <span>{{ .DisplayData.SchoolIncharge}}</span>
                </p>
                <p class="text-gray-600"><strong>School Incharge Number:</strong>
                    <span>{{ .DisplayData.SchoolInchargeNumber}}</span>
                </p>
                <p class="text-gray-600"><strong>Housing Incharge:</strong>
                    <span>{{ .DisplayData.HousingIncharge}}</span>
                </p>
                <p class="text-gray-600"><strong>Housing Incharge Number:</strong>
                    <span>{{ .DisplayData.HousingInchargeNumber}}</span>
                </p>
                <p class="text-gray-600 mt-4"><strong>Polling Staff:</strong></p>
                <ul class="text-gray-600 list-disc list-inside">
                    {{ range .DisplayData.PollingStaff }}
                    <li>{{ .Name }} - {{ .Contact }}</li>
                    {{ end }}
                </ul>
                <p class="text-gray-600 mt-4"><strong>Police Staff:</strong></p>
                <ul class="text-gray-600 list-disc list-inside">
                    {{ range .DisplayData.PoliceStaff }}
                    <li>{{ .Name }} - {{ .Contact }}</li>
                    {{ end }}
                </ul>
            </div>
            <a href="https://www.google.com/maps?q={{.Booth.GeoCoordinates}}" target="_blank">
                <button type="button" class="inline-block px-4 py-2 bg-red-500 text-white font-semibold rounded-md shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300">
                    Open Google Maps
                </button>
            </a>
            
            <form action="/admin/logout" method="POST" class="mt-4">
                <button type="submit" class="inline-block px-4 py-2 bg-red-500 text-white font-semibold rounded-md shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300">
                    Logout
                </button>
            </form>
            

        </div>
    </div>

    <script>

        // Toggle between Polling Station Data and Polling Staff Data
        const pollingStationBtn = document.getElementById('polling-station-btn');
        const pollingStaffBtn = document.getElementById('polling-staff-btn');
        const pollingStationContent = document.getElementById('polling-station-content');
        const pollingStaffContent = document.getElementById('polling-staff-content');

        pollingStationBtn.addEventListener('click', () => {
            pollingStationContent.style.display = 'block';
            pollingStaffContent.style.display = 'none';
            pollingStationBtn.classList.add('bg-blue-600');
            pollingStaffBtn.classList.remove('bg-blue-600');
        });

        pollingStaffBtn.addEventListener('click', () => {
            pollingStationContent.style.display = 'none';
            pollingStaffContent.style.display = 'block';
            pollingStaffBtn.classList.add('bg-blue-600');
            pollingStationBtn.classList.remove('bg-blue-600');
        });
    </script>
</body>

</html>