<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ARO Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="container mx-auto p-4 text-center">
    <img src="https://electionspatiala.com/images/logo.jpg" alt="Logo" class="mx-auto mb-4 w-32 h-auto"/>
    <h1 class="text-2xl font-bold text-gray-800 mb-6">ARO Dashboard</h1>

    <div class="bg-white shadow-md rounded-lg p-6">
        <div class="flex justify-center mb-4">
            <button id="voter-req-pending-btn"
                    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 mr-4">
                Pending Voter Requests
            </button>
            <button id="voter-req-resolved-btn"
                    class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 mr-4">
                Resolved Voter Requests
            </button>
        </div>


        <div id="voter-req-content-pending" class="mb-6" style="display: block;">
            <h2 class="text-xl font-semibold text-gray-700 mb-4"></h2>
            <p class="text-gray-600 mt-4"><strong>Pending:</strong></p>
            <div class="grid grid-cols-1 gap-4">
                {{ range .VoterReqData }}
                {{ if eq .Status "pending" }}
                <div class="bg-white p-4 rounded shadow">
                    <h3 class="font-bold"><strong>Name: </strong>{{ .Name }}</h3>
                    <p><strong>Contact: </strong>{{ .Contact }}</p>
                    <p><strong>Message: </strong>{{ .Message }}</p>
                    <form id="myForm" action="/admin/voter_req" method="POST">
                        <input type="hidden" name="objectID" id="hiddenInput" value="">
                        <button type="submit" onclick="document.getElementById('hiddenInput').value='{{.ID}}'"
                                class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-300"
                        >Mark As Resolved
                        </button>
                    </form>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <div id="voter-req-content-resolved" class="mb-6" style="display: none;">
            <h2 class="text-xl font-semibold text-gray-700 mb-4"></h2>
            <p class="text-gray-600 mt-4"><strong>Resolved:</strong></p>
            <div class="grid grid-cols-1 gap-4">
                {{ range .VoterReqData }}
                {{ if eq .Status "resolved" }}
                <div class="bg-white p-4 rounded shadow">
                    <h3 class="font-bold"><strong>Name: </strong>{{ .Name }}</h3>
                    <p><strong>Contact: </strong>{{ .Contact }}</p>
                    <p><strong>Message: </strong>{{ .Message }}</p>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <form action="/admin/logout" method="POST">
            <button type="submit"
                    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300">
                Logout
            </button>
        </form>
    </div>
</div>

<script>
    // Toggle between resolved and pending voter requests
    const voterReqPendingBtn = document.getElementById('voter-req-pending-btn');
    const voterReqResolvedBtn = document.getElementById('voter-req-resolved-btn');
    const voterReqPendingContent = document.getElementById('voter-req-content-pending');
    const voterReqResolvedContent = document.getElementById('voter-req-content-resolved');

    voterReqResolvedBtn.addEventListener('click', () => {
        voterReqResolvedContent.style.display = 'block';
        voterReqPendingContent.style.display = 'none';
        voterReqResolvedBtn.classList.add('bg-blue-600');
        voterReqPendingBtn.classList.remove('bg-blue-600');
    });

    voterReqPendingBtn.addEventListener('click', () => {
        voterReqResolvedContent.style.display = 'none';
        voterReqPendingContent.style.display = 'block';
        voterReqResolvedBtn.classList.remove('bg-blue-600');
        voterReqPendingBtn.classList.add('bg-blue-600');
    });
</script>
</body>

</html>